.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    background-color:white;
    .checkoutLeft{
        flex:3;
        .title{
            padding: 10px;
            border-bottom: 1px solid lightgray;
            display: flex;
            flex-direction: column;
        }

    }
    .checkoutRight{
        flex:1;
        display: flex;
        flex-direction: column;
        background-color:burlywood;
        padding: 20px;
    }

}