.checkOutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    .info{
        padding-left: 20px;
        .price{

        }
        .rating{

        }
    }
    .productButtons{

    }
}