.checkOutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    .info{
        padding-left: 20px;
        .price{

        }
        .rating{

        }
    }
    .productButtons{
        background: #ff9f00;
        border:1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
        color:black
    }
}